<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guruji</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="static/script.js"></script>
</head>

<body>
    <div class="bg-dark text-center">
        <img src="static/logo.png" class="m-0" width="250">
    </div>
    <div class="m-3 row">
        <div class="card m-2 col border-0">
            <div class="card-body">
                <div class="card-title h4">
                    Your Details
                </div>
                <div class="input-group">
                    <span class="input-group-text">Name</span>
                    <input type="text" class="form-control" id="nameField">
                </div>
                <div class="row">
                    <div class="input-group mt-2 col">
                        <span class="input-group-text">Class</span>
                        <input type="text" class="form-control" id="classField">
                    </div>
                    <div class="input-group mt-2 col">
                        <span class="input-group-text">Section</span>
                        <input type="text" class="form-control" id="sectionField">
                    </div>
                </div>
                <div class="container text-start mt-2">
                    <span class="text-muted small">Recheck the spellings again. Just to be safe.</span>
                </div>
            </div>
            <hr>
            <div class="container mt-3">
                <div class="input-group">
                    <span class="input-group-text">Project Id</span>
                    <input type="text" class="form-control" id="projectField">
                </div>
                <span class="text-muted small">You can find the project id in the <span class="text-primary">blue box</span> in each project</span>
                <div>
                    <button class="btn btn-success mt-2" id="genBtn" onclick="generate()">Generate Project ✍️</button>
                </div>
                <div class="alert alert-secondary mt-2 visually-hidden" id="inprogress">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span>Processing your request</span>
                </div>
                <div class="alert alert-danger mt-2 visually-hidden" id="error">
                    <b>Can't generate project.</b><br>
                    <span>You have entered a project id that doesn't exist 🤔. Recheck that and try again.</span>
                </div>
                <div class="alert alert-success mt-2 visually-hidden" id="success">
                    <b>Project generated 👍</b> <br>
                    <button class="btn btn-primary" id="directBtn" onclick="downloadMultiple()"><i class="bx bxs-cloud-download"></i> Direct Download</button>
                    <button onclick="sendByEmail()" class="btn btn-primary" id="emailBtn"><i class="bx bx-mail-send"></i> Send through email</button>
                    <p id="succText" class="visually-hidden">Click these buttons one after the other to download each of the files. Click the next one after the previous file has started downloading</p>
                    <div id="successList" class="container visually-hidden"></div>
                    
                </div>
                <div class="alert alert-info mt-3 visually-hidden" id="emailAsk">
                  <b>Send through email</b> <br> <br>
                  Please enter your email address to which the project files to be sent. <br>
                  <input type="email" class="form-control" id="emailField">
                 
                  <button onclick="sendEmail()" class="btn btn-info mt-2 text-white"><i class="bx bx-send"></i> Send mail</button>
                </div>
                <div class="alert alert-success mt-2 visually-hidden" id="emailDone">
                  <b>Email sent 👍</b> <br>
                  <p>The email has been sent. <br>
                  Kindly check your <b>Spam/Promotions</b> folder if u don't see the email in your inbox.
                  </p>
                </div>
                <div class="alert alert-danger mt-2 visually-hidden" id="emailError">
                  <b>Can't send email</b> <br>
                  <p>We are having a tough time sending the email. Try again after a minute.</p>
                </div>
            </div>
        </div>
        <div class="card col m-2 border-0">
            <div class="card-body">
                <div class="card-title h4">
                    Project Templates
                </div>
                <div id="templatesList" style="max-height:70vh;overflow-hidden;overflow-y:scroll">
                    {% for temp in temps %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-title h6">
                                {{temp.name}}
                            </div>
                            <span class="text-muted small">
                                <i class="bx bx-user"></i> {{temp.author}}
                            </span>
                            <br>
                            <span class="text-muted small"> <i class="bx bx-file-blank"></i> {{temp.pageCount}} pages</span>
                            <br>
                            <span class="badge bg-{{temp.data.bg}} h6">{{temp.tag}}</span>
                            <span class="badge bg-primary h6">{{temp.id}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="text-center mt-5 pb-5">
<br><br>
<span onclick="location.href='https://linktr.ee/ChickenGeek'" class="text-muted small mt-5 pt-5">@ChickenGeek<br>Writing code that matters</span>
</div>
</body>

</html>


